.editor-container {
  width: 50vw;
  height: 50vw;
  margin: auto 15px;
  position: relative;
}
  
#editor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
}